<div class="tt__card">
  <header>
    <h1>Blockchain NumberTransfer Demo</h1>
  </header>
  <div class="content">
    <p>
      Hello and welcome to the Blockchain NumberTransfer Demo. This demo has been built with <a href="https://tendermint.com/">Tendermint</a>.
    </p>

    <p>To start, please select the party you want to be.</p>

    <div class="button-container">
      <a class="button" [routerLink]="['/party/regulator']">Regulator</a>
      <a class="button" [routerLink]="['/party/telco1']">Telco1</a>
      <a class="button" [routerLink]="['/party/telco2']">Telco2</a>
      <a class="button" [routerLink]="['/party/telco3']">Telco3</a>
    </div>
  </div>
</div>
